body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */

h1 {
    font-size: 48px;
    text-align: center;
    font-family: 'Bellota Text', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    color: #6F4BD5;
    margin-bottom: 0px;
    margin-top: 0px;
  }

h2 {
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-weight:300;
    color: #6F4BD5;
}

/* Buttons */

.primary {
    background-color: #6F4BD5;
    color: white;
    border: 1px solid #6F4BD5;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
}

.secondary {
    background-color: white;
    border: 1px solid #6F4BD5;
    border-radius: 8px;
    color: #6F4BD5;
    padding: 16px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
}

.secondary:hover {
    background-color: #6F4BD5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

/*Carousel - borrowng from Jon Ander Perez on CodePen and adjusting to fit in this homepage */

.slide-title {
    display: block;
    font-size: 18px;
    font-family: 'Bellota Text', cursive;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.5rem;
  }
  
  .slide-text {
    padding-top: 8px;
    display: block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    line-height: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .easy-slider {
    clear: both;
    padding-top: 50px;
    margin: 0 auto;
  }
  
  .easy-slider h2 {
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  
  .carrousel {
    margin: 0 auto;
    background: #ffffff;
    text-align: center;
    padding: 4em 0;
    max-width: 600px;
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 24px;
  }

  .carrousel .slides {
    width: 500%;
    left: 0;
    padding-left: 0;
    padding-top: 1em;
    overflow: hidden;
    list-style: none;
    position: relative;
  
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
  }
  
  .carrousel .slides li {
    width: 20%;
    position: relative;
    float: left;
  }
  .carrousel li p {
    margin-top: 0;
  }
  .carrousel li q {
    max-width: 90%;
    margin: auto;
    color: #E6E6E6;
    font-size: 1.3em;
    font-weight: bold;
  }
  .carrousel li svg {
    float: left;
    padding: 20px;
  }
  .carrousel li span.author {
    margin-top: 0.5em;
    font-size: 1.2em;
    color: #777777;
    display: inline;
    float: left;
  }
  .carrousel .slidesNavigation {
    display: inline;
    list-style: none;
    text-align: center;
    bottom: 1em;
    float: left;
    width: 100%; /*This width  is the addition of the width of all the navigations dots - So in this case is   104 because the navigation dots are 26px (width:10px and 6px marginleft + 6 px marginright) and there are 4 dots so 4x26=104 */
    left: 50%; /*Centering de element*/
    top: 25%;
  }
  .carrousel input {
    display: none;
  }
  .carrousel .slidesNavigation label {
    margin: 24px;
    display: inline-block;
    height: 24px;
    width: 24px;
    -webkit-border-radius: 50%;
    background-color: #E6E6E6;
    border: 1px solid #666666;
    font-size: 1rem;
    margin-bottom: 12px;
  }
  /* You have to repeat this with each slide
  */
  #radio-1:checked ~ .slides {
    transform: translateX(0%);
  }
  #radio-2:checked ~ .slides {
    transform: translateX(-20%);
  }
  #radio-3:checked ~ .slides {
    transform: translateX(-40%);
  }
  #radio-4:checked ~ .slides {
    transform: translateX(-60%);
  }
  
  #radio-5:checked ~ .slides {
    transform: translateX(-80%);
  }
  
  .carrousel .slidesNavigation label:hover {
     cursor: pointer;
  }
  /* You have to repeat this with each slide/dot */
  .carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
  .carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
  .carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
  .carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4,
  .carrousel #radio-5:checked ~ .slidesNavigation label#dotForRadio-5 {
    background: #6F4BD5;
    border: 1px solid #6F4BD5;
    height: 24px;
    width: 32px;
    border-radius: 50px;
  }
  
  /* hover on dot */
  .carrousel #radio-1:hover ~ .slidesNavigation label#dotForRadio-1,
  .carrousel #radio-2:hover ~ .slidesNavigation label#dotForRadio-2,
  .carrousel #radio-3:hover ~ .slidesNavigation label#dotForRadio-3,
  .carrousel #radio-4:hover ~ .slidesNavigation label#dotForRadio-4,
  .carrousel #radio-5:hover ~ .slidesNavigation label#dotForRadio-5{
    background: #C5B7EE;
    border: 1px solid #C5B7EE;
  }